[submodule "app/Plugin/Search"]
	path = app/Plugin/Search
	url = git://github.com/CakeDC/search.git
[submodule "app/Plugin/BoostCake"]
	path = app/Plugin/BoostCake
	url = https://github.com/slywalker/cakephp-plugin-boost_cake.git
